*{
    font-family: 'Lemonada', cursive;
    text-decoration: none;
}
.jumbotron{
    background-position: center;
    height: 100%;
    background-color: white;
}
.parrafos{
    margin: 0 0px;
}
.logo{
    box-shadow: none;
}
body{
    background-color: #f9f7d9;
}
.cake-up{
    margin-top: 50px;
}
.redes{
    font-size: 500%;
    letter-spacing: 5px;
}
.seccion1{
    margin-bottom: 10px;
}
.principal{
    justify-content: space-around;
    letter-spacing: 5px;
}
.cake:hover{
    color: #00bbb8;
}
.cont-card{
    height: 500px;
}
.card-wil{
    flex: 1 150px;
    padding: 2px 10px;
    margin: 10px 10px;
    box-shadow: 10px 10px 5px rgb(56, 56, 56);
    border-radius: 10px;
    text-align: center;
    background-color: #f9f7d9;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 10px;
    margin: 10px 10px;
    box-shadow: 10px 10px 5px rgb(56, 56, 56);
    border-radius: 10px;
    text-align: center;
    background-color: #f9f7d9;
}
img{
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
 }
address{
    text-align: center;
}
.titulo{
    text-align: center;
    color: #0f4c75;
    
    margin: 10px;
}
h3{
    color: #00b7c2;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: #cffffe;
    margin-bottom: 0px;
    margin-top: 20px;
}